body {
    width: 98.7vw;
    height: 100vh;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */

}

nav {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27%;

    background: linear-gradient(230deg, rgba(71,63,88,1) 34%, rgba(50,41,69,1) 59%);
    
}

.accueilButton {
    outline: hidden;
    margin: 0;
    padding: 0;
    border: none;

    position: absolute;
    left: 100px;
    top: 1px;

    background: transparent;
   
}

.accueilButton img:hover {
    filter: brightness(1.2);

}

.contactButton{
    background-color: #E1A624;
    border-radius: 50px;
    text-align: center;
    filter: brightness(1.1);
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-top: 8px;

    text-decoration: none;
    color: white;

}

.contactButton:hover{
    filter: none;

}

.parentNavBar {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 8%;

    font-size: 80%;
    font-weight: 500;
    color: white;

}

.enfantNavBar a{
    text-decoration: none;
    color: white;

}

.enfantNavBar{
    text-decoration: none;
    background: linear-gradient(to top, #41b7e6b0 0%, #41b7e6b0 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;

}

.enfantNavBar:hover {
    background-size: 100% 100%;
    
}
