.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(27, 20, 20, 0.5)), url("./../assets/image/MolengeekBati.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    width: 100%;

}

/* .section1:hover{
    filter: brightness(1.2);
    
} */

.section1 h5 {
    font-size: 500%; 
    opacity: 0.9;
    font-weight: 100; 
    font-style: italic;
    text-align: center;
    color: white;
    
    display: flex; 
    justify-content: center;
    align-items: center;

    padding-top: 15%;

    /* width: 100%; */

}